{% extends 'base.html.twig' %}

{% block title %}Page d'accueil livre top 100{% endblock %}

{% block body %}
    <a href="{{ path("app_personne_new") }}">Ajouter une personne</a>
    <a href="{{ path("app_personne_index") }}">Lister les personnes</a>
{% endblock %}
