<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}

        <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">Recensement</a>
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
               <li class="nav-item">
                  <a class="nav-link active" href="{{ path('app_personne_new') }}">Ajouter une personne
                  <span class="visually-hidden">(current)</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/">Accueil</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/personne">Liste des personnes</a>
               </li>
            </ul>
         </div>
      </div>
   </nav>
   <div class="container">
      {% block body %}{% endblock %}
   </div>
   <div class="footer-clean">
      <footer>
      </footer>
   </div>
</body>
    
</html>
